.cart-page {
  word-break: keep-all;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
  color: var(--color-maintxt);
  transition: all 0.3s;
  @include tablet {
    margin: 0 3rem;
  }
  @include desktop {
    margin: 0 10rem;
  }
  h2 {
    margin: 2rem 0 0 2rem;
    text-align: left;
  }
  ul {
    overflow: auto;
    background-color: var(--color-primary);
    color: var(--color-subtxt);
    min-width: 355px;
    @include tablet {
      min-width: 695px;
    }
    li {
      @include flex-layout(row, center, center);
      margin: 1rem;
      @include tablet {
        gap: 2rem;
        margin: 1rem 0;
        text-align: left;
        @include flex-layout(row, flex-start, center);
        padding: 0 2rem 0 1.5rem;
      }
      @include desktop {
        padding: 0 5rem 0 3rem;
      }
      img {
        width: 120px;
        @include tablet {
          margin-right: 1rem;
        }
      }
      .item-info {
        @include flex-layout(column, center, center);
        flex: 1;
        gap: 0.5rem;
        text-align: center;
        h4 {
          font-weight: normal;
          width: 150px;
        }
        h3 {
          width: 90px;
        }
        .count-control {
          display: flex;
          gap: 0.2rem;
          width: 120px;
          span{
            width: 60px;
          }
          button{
            @include btn-style(var(--color-subtxt));
            color:var(--color-maintxt);
            padding: 0 0.4rem
          }
          .plus{
            padding: 0 0.3rem
          }
        }
        @include tablet {
          @include flex-layout(row, flex-start, center);
          flex: 1;
          gap: 1.5rem;
        }
        @include desktop {
          @include flex-layout(row, center, center);
          flex: 1;
        }
      }
      .item-icon {
        margin-top: 0.5rem;
        font-size: 30px;
        cursor: pointer;
      }
    }
  }
}
.cart-summary {
  min-width: 355px;
  background-color: var(--color-primary);
  color: var(--color-subtxt);
  padding: 2rem;
  margin-bottom: 2rem;
  @include flex-layout(row, space-around, center);
  @include tablet {
    min-width: 695px;
  }
  .summary-price {
    @include flex-layout();
    gap: 0.5rem;
  }
  button {
    @include btn-style();
  }
}
.empty-cart {
  margin-top: 100px;
  text-align: center;
  p {
    margin: 1rem 0;
  }
  button {
    @include btn-style();
  }
}
