// 배송정보
.info {
  width: 100%;
  word-break: keep-all;
  background-color: var(--color-subtxt);
  padding: 0;
  .info-one {
    text-align: left;
    padding: 4rem 2rem;
    li {
      hr {
        margin: 1rem 0;
      }
    }
    h3 {
      margin-top: 2rem;
    }
    p {
      font-size: $font-small-small;
      padding: 0.2rem 0;
    }
  }
}