nav {
  z-index: 10;
  position: relative;
  overflow: hidden;
  font-size: $font-small;
  .menu-wrapper {
    // 숨김 상태
    position: absolute;
    top: 4.5rem;
    left: -100%;
    opacity: 0;
    //스타일
    width: 350px;
    padding: 1.5rem;
    // transition: all 0.3s ease-in-out; //닫힐때 애매;
    // 데스크탑에서는 항상 열림
    @include desktop {
      height: 30%;
      position: fixed;
      opacity: 1;
      top: -2rem;
      left: 50%;
      transform: translateX(-50%);
      @include flex-layout(row, center, flex-start);
      gap: 5rem;
      background: none;
      width: 90%;
    }
    .menu {
      @include desktop {
        width: 150px;
      }
      .menu-name {
        position: relative;
        cursor: pointer;
        @include desktop {
          &:hover .submenu {
            display: block;
            gap: 0.5rem;
            transition: none;
          }
        }
        p {
          padding: 0.5rem 0;
        }
        padding: 1rem;
        font-weight: bold;
        margin: 1rem 0 1rem 0;
        border-bottom: 1px solid #ccc;
        @include desktop {
          width: 100%;
          border: none;
          text-align: center;
          transition: all 0.3s;
          &:hover {
            background-color: var(--color-Hover);
            color: var(--color-subtxt);
          }
        }
        .submenu {
          font-weight: normal;
          @include desktop {
            @include flex-layout(column, center, center);
            border: none;
            display: none;
            width: 100%;
            gap: 0.5rem;
            transition: none;
            &:hover {
              background-color: none;
            }
          }
          li {
            width: 90%;
            padding: 0.5rem 0.8rem;
            transition: all 0.3s;
            &:hover {
              background-color: var(--color-Hover);
              color: var(--color-bg);
            }
            @include desktop {
              @include flex-layout(column, center, center);
              border: none;
              width: 100%;
              color: var(--color-subtxt);
              transition: all 0.3s;
            &:hover {
              background-color: var(--color-bg);
              color: var(--color-Hover);
            }
            }
          }
        }
      }
    }
  }
  // 메뉴 열렸을 때
  &.mobile-open {
    .menu-wrapper {
      position: fixed;
      top: 70px;
      left: 0;
      opacity: 1;
      background-color: #fff; //bg는 바꾸기
    }
  }
}
