//정렬
@mixin flex-layout($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

//반응형 믹스인 (기본형은 모바일로 가져갈거야)
@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

//card 버튼 컴포넌트
@mixin btn-style($bg:var(--color-Secondary)){
  background-color: $bg;
  padding: 0.2rem 0.5rem;
  // border-radius: 0.5rem;
  font-size: $font-small-small;
  outline: none;
  border: none;
  color: var(--color-subtxt);
  cursor: pointer;
}

//brandintro 반응형 
@mixin big-layout-style {
  text-align: left;

  .brand-wrap {
    @include flex-layout(row, center, center);
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
  }

  img {
    width: 300px;
    margin-right: 2rem;
  }

  .txt {
    width: auto;
  }

  .bar {
    display: block;
    height: 80%;
  }
}


// goods, project 버튼 컴포넌트
@mixin banner-btn {
  margin-top: 1.5rem;
  width: 250px;
  padding: 8px 16px;
  border-radius: 0;
  border: 1px solid var(--color-maintxt);
  background-color: transparent;
  color: var(--color-maintxt);
  font-size: $font-small;
  &:hover {
    background-color: var(--color-Hover);
    color: var(--color-subtxt);
  }
}

// 해쉬태그 컴포넌트
@mixin hashtag-style($bg:var(--color-Secondary)){
  color: var(--color-subtxt);
  background-color: $bg;
  border: 1px solid var(--color-subtxt);
  // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  white-space: nowrap;
}


// 해쉬태그 컴포넌트2(테두리색 있고 배경색 흰색ver)
@mixin hashtag-style-2($bg:var(--color-bg)){
  color: var(--color-Secondary);
  background-color: $bg;
  border: 1.5px solid var(--color-Secondary);
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  white-space: nowrap;
}

@mixin hashtag-style-3($bg: rgba(254, 252, 247, 0.6)) {
  color: var(--color-Secondary); 
  background-color: $bg;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  white-space: nowrap;
//지피티가 유리 효과도 알려주네용
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); 
}

@mixin hashtag-style-4($bg: rgba(254, 252, 247, 0.8)) {
  color: var(--color-Secondary);
  background-color: $bg; 
  // border: 1.5px solid var(--color-Secondary);
  border-radius: 5rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  white-space: nowrap;

}